* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: white;
  font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
}
body {
  background-image: linear-gradient(to bottom right, #010b54, #010939, #001076);
  background-repeat: no-repeat;
}
.container {
  display: flex;
  flex-direction: column;
}
/* Parte superior */
header {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 30px;
}
header img {
  width: 20%;
}
#titulo {
  color: #00afef;
  font-family: "Barlow", "Helvetica Neue", Helvetica, Arial;
  font-size: 40px;
}
#titulo:hover {
  transition: 1.5ms;
  border-radius: 5px;
  border-bottom: 2px solid white;
}

.primeiraParte {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.primeiraParte .principal {
  font-size: 66px;
}

.primeiraParte span {
  color: #00afef;
}
.primeiraParte img {
  width: 100%;
  height: auto;
}
span:hover {
  color: #eef233;
  transition: 1.5ms;
  border-bottom: 2px solid white;
}
.entregamosBrasil {
  display: flex;
  flex-direction: row;
}
.entregamosBrasil #Principal {
  font-size: 50px;
  color: #eef233;
}
/* parte do carrosel */
.carrosel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#carouselExampleRide {
  width: 70%;
  height: 5%;
  margin-top: 5%;
}
.PerguntasFrequentes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.PerguntasFrequentes p {
  font-size: 50px;
  color: #eef233;
}

/* comeco dos textos  */
.textoInicial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5%;
}
.formulario {
  align-items: center;
}
#botao {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  width: 50%;
  height: 20%;
  border-radius: 10px;
  background-color: #eef233;
  color: #002140;
}
#botao:hover {
  color: #eef233;
  background-color: #002140;
  transition: 1.5ms;
  border: 2px solid white;
}
.segundoTexto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.segundoTexto #revolucaomkt {
  font-size: 66px;
  color: #eef233;
}
.segundoTexto span {
  color: #00afef;
}

.nossosServicos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  padding: 5%;
}

.nossosServicos h2 {
  color: #00afef;
}
.nossosServicos h2:hover {
  color: #eef233;
  transition: 1.5ms;
  border-bottom: 2px solid white;
}
.quadrados {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 130px;
  /* animation-name: animacao;
  animation-duration: 4s;
  anima */
}
.quadrado {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  flex-wrap: wrap;
  background-color: #292424;
  border-radius: 10px;
}
.quadrado:hover {
  border: 2px solid white;
}
i {
  font-size: 30px;
  background-color: #292424;
}
.quadrado h3 {
  color: #00afef;
  background-color: #292424;
}
.quadrado p {
  background-color: #292424;
}
.formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.formulario h2:hover {
  color: #eef233;
  border-bottom: 2px solid white;
}
.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: white;
}
.icons a i {
  background-color: #01082a;
}
.icons p i {
  background-color: #01082a;
}

.icon {
  position: fixed;
  bottom: 60px;
  right: 30px;
  font-size: 30px;
  background-color: #01e675;
  color: #ffffff;
  border-radius: 50%;
  padding: 3px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  z-index: 100;
  box-shadow: 2px 2px 2px #c0bdbd;
}

.icon .fab {
  background-color: #01e675;
  padding-top: 9px;
}

.icon:hover {
  /* background-color: #fff;
  color: #029e3b; */
  font-weight: 900;
  box-shadow: 2px 2px 20px #5fe690;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer img {
  margin: none;
  background-color: transparent;
  width: 20%;
}
footer .icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: transparent;
}
footer .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer .icons p {
  display: flex;
  flex-wrap: wrap;
  /* font-size:15px; */
}

.icons a i {
  background-color: transparent;
  margin: 3px;
}
.icons a i:hover {
  border-bottom: 2px solid #eef233;
  background-color: transparent;
}
.icons p i {
  background-color: transparent;
}
@media (max-width: 1200px) {
  .quadrado p {
    font-size: 15px;
  }
  /* header {
    padding: 2.5%;
  } */
  .quadrado {
    width: 70%;
    margin: 8px;
  }
  .entregamosBrasil {
    display: flex;
    flex-direction: row;
  }
  .entregamosBrasil #Principal {
    font-size: 45px;
    color: #eef233;
  }
  .PerguntasFrequentes p {
    font-size: 45px;
    color: #eef233;
  }
  #carouselExampleRide {
    width: 70%;
    height: 5%;
    margin-top: 5%;
  }
  .segundoTexto #revolucaomkt {
    font-size: 56px;
    color: #eef233;
  }
  .segundoTexto span {
    font-size: 45px;
    color: #00afef;
  }
  footer img {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  .mobileOnly {
    display: none;
  }
  .desktopOnly {
    display: block;
  }
}
@media (max-width: 1024px) {
  .mobileOnly {
    display: block;
  }
  .desktopOnly {
    display: none;
  }
}
@media (max-width: 990px) {
  header img {
    width: 60%;
  }
  .primeiraParte .principal {
    font-size: 50px;
  }
  .primeiraParte span {
    font-size: 50px;
    color: #00afef;
  }
  .entregamosBrasil {
    display: flex;
    flex-direction: column;
  }
  #carouselExampleRide {
    width: 80%;
    height: 8%;
    margin-top: 5%;
  }
  .segundoTexto #revolucaomkt {
    font-size: 45px;
    color: #eef233;
  }
  .entregamosBrasil #Principal {
    font-size: 45px;
    color: #eef233;
  }
  .PerguntasFrequentes p {
    font-size: 45px;
    color: #eef233;
  }
  .segundoTexto span {
    font-size: 45px;
    color: #00afef;
  }

  .quadrados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 100px;
  }
  .quadrado {
    width: 70%;
    margin: 8px;
  }
  .quadrado h3 {
    color: #00afef;
    background-color: #292424;
    font-size: 15px;
  }
  .quadrado p {
    font-size: 10px;
  }
  i {
    font-size: 20px;
    background-color: #292424;
  }
  .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer img {
    width: 30%;
  }
}
@media (max-width: 772px) {
  header h1 {
    font-size: 35px;
  }
  header #titulo {
    font-size: 45px;
  }
  header img {
    width: 50%;
  }
  .primeiraParte {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }
  .primeiraParte .principal {
    font-size: 56px;
  }
  .primeiraParte span {
    font-size: 60px;
    color: #00afef;
  }
  #carouselExampleRide {
    width: 70%;
    height: 8%;
    margin-top: 5%;
  }
  .segundoTexto #revolucaomkt {
    font-size: 38px;
    color: #eef233;
  }
  .entregamosBrasil #Principal {
    font-size: 38px;
    color: #eef233;
  }
  .PerguntasFrequentes p {
    font-size: 38px;
    color: #eef233;
  }
  .segundoTexto span {
    font-size: 38px;
    color: #00afef;
  }
  .primeiraParte img {
    display: none;
  }
  .nossosServicos {
    margin: 5px;
  }
  .quadrados {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    padding-left: 0%;
  }
  .quadrado {
    width: 100%;
    height: 1%;
  }
  .icons p {
    font-size: 15px;
  }
  footer p {
    font-size: 12.5px;
  }
}
@media (max-width: 425px) {
  header h1 {
    font-size: 25px;
  }
  header #titulo {
    font-size: 35px;
  }
  .primeiraParte {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }
  .primeiraParte .principal {
    font-size: 46px;
  }
  .primeiraParte span {
    font-size: 54px;
    color: #00afef;
  }
  .primeiraParte p {
    font-size: 12px;
  }
  .entregamosBrasil #Principal {
    font-size: 38px;
    color: #eef233;
  }
  .PerguntasFrequentes p {
    font-size: 35px;
    color: #eef233;
  }
  .segundoTexto #revolucaomkt {
    font-size: 38px;
    color: #eef233;
  }
  .segundoTexto span {
    font-size: 38px;
    color: #00afef;
  }
  #botao {
    text-decoration: none;
    width: 80%;
    background-color: #eef233;
    background-color: #eef233;
    color: #002140;
  }
  #botao:hover {
    color: #eef233;
    background-color: #002140;
    transition: 1.5ms;
    border: 2px solid white;
  }
  footer p {
    font-size: 12px;
  }
  footer a {
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  header h1 {
    font-size: 20px;
  }
  header #titulo {
    font-size: 25px;
  }
  .primeiraParte .principal {
    font-size: 36px;
  }
  .primeiraParte span {
    font-size: 44px;
    color: #00afef;
  }
  .primeiraParte p {
    font-size: 10px;
  }
  .entregamosBrasil #Principal {
    font-size: 28px;
    color: #eef233;
  }
  .PerguntasFrequentes p {
    font-size: 28px;
    color: #eef233;
  }
  .segundoTexto #revolucaomkt {
    font-size: 28px;
    color: #eef233;
  }
  .segundoTexto span {
    font-size: 28px;
    color: #00afef;
  }
  footer p {
    font-size: 4px;
  }
}
