@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #002140; */
  color: white;
  font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  background-image: linear-gradient(
    135deg,
    #010b54,
    #01082a,
    #010939,
    #000a47,
    #001076
  );
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* Parte superior */
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}
header h1 {
  font-size: 40px;
}
#titulo {
  color: #00afef;
  font-family: "Barlow", "Helvetica Neue", Helvetica, Arial;
  font-size: 50px;
}
#titulo:hover {
  transition: 1.5ms;
  border-radius: 5px;
  border-bottom: 2px solid white;
}


.primeiraParte{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.primeiraParte .principal{
font-size: 66px;
}

.primeiraParte span{
  color: #00afef;
}
.primeiraParte img{
  width: 100%;
  height: auto;
}
span:hover {
  color: #eef233;
  transition: 1.5ms;
  border-bottom: 2px solid white;
}

/* parte do carrosel */
#carouselExampleRide {
  width: 100%;
  height: 10%;
  margin-top: 5%
}
/* comeco dos textos  */
.textoInicial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5%;
}


#botao {
  text-decoration: none !important;
  width: 50%;
  height: 20%;
  border-radius: 10px;
  background-color: #eef233;
  color: #002140;
}
#botao:hover {
  color: #eef233;
  background-color: #002140;
  transition: 1.5ms;
  border: 2px solid white;
}
.segundoTexto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.segundoTexto p{
  font-size: 66px;
  color: #eef233;
  }
  .segundoTexto span{
    color: #00afef;
  }

.nossosServicos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  padding: 5%;
}

.nossosServicos h2 {
  color: #00afef;
}
.nossosServicos h2:hover {
  color: #eef233;
  transition: 1.5ms;
  border-bottom: 2px solid white;
}
.quadrados {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 130px;
  /* animation-name: animacao;
  animation-duration: 4s;
  anima */
}
.quadrado {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  flex-wrap: wrap;
  background-color: #292424;
  border-radius: 10px;
}
.quadrado:hover {
  border: 2px solid white;
}
i {
  font-size: 30px;
  background-color: #292424;
}
.quadrado h3 {
  color: #00afef;
  background-color: #292424;
}
.quadrado p {
  background-color: #292424;
}
.formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.formulario h2:hover {
  color: #eef233;
  border-bottom: 2px solid white;
}
.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: white;
}
.icons a i {
  background-color: #01082a;
}
.icons p i {
  background-color: #01082a;
}
footer{
  background-color: #01082a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer img{
margin: none;
}
footer .icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer .icons a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .quadrado p {
    font-size: 15px;
  }
  header {
    padding: 2.5%;
  }
  .quadrado {
    width: 70%;
    margin: 8px;
  }
  
  .segundoTexto p{
    font-size: 56px;
    color: #eef233;
    }
    .segundoTexto span{
      color: #00afef;
    }
}
@media (max-width: 990px) {
  header img {
    width: 60%;
  }
  .primeiraParte .principal{
    font-size: 50px;
    }
    .primeiraParte span{
      font-size: 50px;
      color: #00afef;
    }
    .segundoTexto p{
      font-size: 45px;
      color: #eef233;
      }
      .segundoTexto span{
        font-size: 45px;
        color: #00afef;
      }

  .quadrados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 100px;
  }
  .quadrado {
    width: 70%;
    margin: 8px;
  }
  .quadrado h3 {
    color: #00afef;
    background-color: #292424;
    font-size: 15px;
  }
  .quadrado p {
    font-size: 10px;
  }
  i {
    font-size: 20px;
    background-color: #292424;
  }
  .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 772px) {
  header img {
    width: 50%;
  }
  .primeiraParte{
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    
  }
  .primeiraParte .principal{
    font-size: 56px;
    }
    .primeiraParte span{
      font-size: 60px;
      color: #00afef;
    }
    .segundoTexto p{
      font-size: 38px;
      color: #eef233;
      }
      .segundoTexto span{
        font-size: 38px;
        color: #00afef;
      }
  .primeiraParte img{
    display: none;
  }
  .nossosServicos {
    margin: 5px;
  }
  .quadrados {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    padding-left: 0%;
  }
  .quadrado {
    width: 100%;
    height: 1%;
  }
  .icons p {
    font-size: 15px;
  }
}
@media(max-width:425px){
  .primeiraParte{
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    
  }
  .primeiraParte .principal{
    font-size: 46px;
    }
    .primeiraParte span{
      font-size: 54px;
      color: #00afef;
    }
    .primeiraParte p{
      font-size: 12px;
    }
    .segundoTexto p{
      font-size: 38px;
      color: #eef233;
      }
      .segundoTexto span{
        font-size: 38px;
        color: #00afef;
      }
  #botao{
    text-decoration: none;
    width: 80%;
    background-color:#eef233;
    background-color: #eef233;
  color: #002140;
}
#botao:hover {
  color: #eef233;
  background-color: #002140;
  transition: 1.5ms;
  border: 2px solid white;
  }
}
@media(max-width:320px){
  .primeiraParte .principal{
    font-size: 36px;
    }
  .primeiraParte span{
      font-size: 44px;
      color: #00afef;
    }
  .primeiraParte p{
    font-size: 10px;
  }
  .segundoTexto p{
    font-size: 28px;
    color: #eef233;
    }
  .segundoTexto span{
      font-size: 28px;
      color: #00afef;
    }
}